# SPDX-License-Identifier: MIT
# Copyright (c) 2019-2026 Allwinner Technology Co., Ltd.

config {
	rootpath = "root"
}

image sdcard.img {
	hdimage {
		partition-table-type = "gpt"
		gpt-location = 4K
	}

	partition boot0 {
		offset = 128K
		image = "boot0.fex"
		partition-type-uuid = "BC13C2FF-59E6-4262-A352-B275FD6F7172"
	}

	partition uboot {
		offset = 16400K
		image = "u-boot.fex"
		partition-type-uuid = "BC13C2FF-59E6-4262-A352-B275FD6F7172"
	}

	partition boot {
		bootable = true
		offset = 20M
		size = 128M
		image = "boot.img"
		partition-type-uuid = "fat32"
	}

	partition root {
		offset = 148M
		size = 2048M
		image = "rootfs.ext2"
		partition-type-uuid = "0FC63DAF-8483-4772-8E79-3D69D8477DE4"
	}
}

image boot.img {
	size = 128M
	mountpoint = "boot"

	vfat {
	}
}
